.skewDiv {
    transform: skew(20deg);
}

.textTagOne {
    font-family: 'Source Serif 4', serif;
    font-weight: bolder;
    font-size: 50px; 
}

.textTagTwo {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #21422c;
}

@media (max-width: 768px) {
    .textTagTwo {
        
        font-size: 15px;
    }
}